.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  margin-top: 15px;
  margin-bottom: 25px;
}

.swiper-slide {
  background-color: #fff;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  height: 8px;
  width: 15px;
  border-radius: 8px;
  background-color: #3ecf8e;
  cursor: pointer;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #3ecf8e;
  width: 30px;
  height: 8px;
}
