@import "tailwindcss";

@theme {
  --breakpoint-ms: 20rem; /*320px*/
  --breakpoint-mm: 23rem; /*368px*/
  --breakpoint-ml: 27rem; /*432px*/

  @keyframes slider {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  --animate-slider: slider 25s linear infinite;
}
